.map {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.multi-member-view {
  position: absolute !important;
  top: 0;
  left: 50%;
  margin: 1em;
  z-index: 10000;
}

.leaflet-tooltip {
  background-color: var(--chakra-colors-gray-300);
  border: 1px solid var(--chakra-colors-gray-500);
  font-size: 14px;
}

.state-sidebar-active {
  color: var(--chakra-colors-brand-tertiary) !important;
  font-weight: bold;
  transition: ease all 0.2s;
}

.state-sidebar-active svg {
  color: var(--chakra-colors-brand-tertiary);
}
