/* All Map related styling */

.map {
  height: 1000px;
  width: 1000px;
}

.info-box {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  min-width: 200px;
  margin: 1em;
  border: 1px solid #ccc;
  min-height: 95%;
  padding: 1em;
}

.info-box h2 {
  margin: 0 0 5px;
  color: #777;
}
